__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
.env
.venv/
venv/
env/
logs/
*.log
.idea/
.vscode/
*.swp
*.swo
.DS_Store
alembic/versions/*.pyc
node_modules/
.env.local
.vite/
*.sqlite
*.db
coverage/
.next/
.nuxt/
.github/
